* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.bg-img {
  background-image: url("https://static.wixstatic.com/media/cf6239_281e020a71824815a9a2daa43751bf69~mv2.jpg/v1/fill/w_480,h_719,al_c,lg_1,q_80,enc_auto/cf6239_281e020a71824815a9a2daa43751bf69~mv2.jpg");
  
}

.main-container {
  background: rgba(255, 255, 255, 0.537);
  padding-top: 40px;
}

.card {
  height: 460px;
  width: 300px;
  background: lightcyan;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 5px black;
  transition: 100ms ease-out 100ms;
  margin-bottom: 20px;
}

.button-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -55px;
}

.card-button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bolder;
  border: 0.5px solid rgb(0, 0, 0);
  background: linear-gradient(45deg, rgb(37, 52, 214), rgb(119, 205, 255), rgb(37, 52, 214));
  -webkit-text-stroke-width: 1px;
  color: white;
  font-size: 20px;
  -webkit-text-stroke-color: black;
}

.card-type {
  font-size: 32px;
  z-index: 1;
  margin-left: 10px;
  position: relative;
  color: rgb(255, 242, 61);
  top: -80px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px #000000;

}


.img-box{
  height: 304px;
  width: 260px;
  /* position: relative;
  top: -10px;
  background: white; */
}
.card-image {
  
  width: 100%;
  aspect-ratio: 10/12;
  
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  
}

.header {
  /* height: 100px; */
  padding: 30px;
  background: rgba(255, 0, 0, 0.872);
  
}

.cardlist-container {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-container {
  margin: auto;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  background: lightgreen;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px 5px black;
  border-radius: 20px;
}

.main-title {
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px #000000;
}

.heroi {
  background-image: linear-gradient(45deg, rgb(45, 121, 57), rgb(184, 255, 143), rgb(45, 121, 57));
}

.vilao {
  background-image: linear-gradient(45deg, rgb(187, 46, 46), rgb(255, 165, 143), rgb(187, 46, 46));
}

.card:hover {
  height: 470px;
  width: 310px;
  padding: 25px;
}

.card-name {
  font-size: 28px;
  background: linear-gradient(45deg, rgb(37, 52, 214), rgb(60, 90, 255), rgb(37, 52, 214));
  padding: 2px 5px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  z-index: 1;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  border: 0.5px solid black;
}

.filter-box {
  display: flex;
  justify-content: center;
  background: rgba(255, 0, 0, 0.854);
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
  gap: 20px;
}

.form-label {
  font-weight: bold;
}

.form-button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bolder;
  border: 0.5px solid rgb(0, 0, 0);
  background: linear-gradient(45deg, rgb(37, 52, 214), rgb(119, 205, 255), rgb(37, 52, 214));
  -webkit-text-stroke-width: 1px;
  color: white;
  font-size: 20px;
  -webkit-text-stroke-color: black;
}

@media(max-width: 420px) {

  .form-container {
    width: 300px;
    border-radius: 20px;
    padding: 20px;
  }
  
}